.footer{
        display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background-color: #0d47a1;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
}
